header {
  background-color: rgba(192, 128, 128, 0.582);
}

h1 {
  color: #5bc95b;
}

body {
  font-size: 20px;
}

body div {
  font-size: 20px;
  background: #000;
}

.red {
  color: green;
}

@media (min-width: 320px) {
  .red {
    color: red;
  }
}
